:root {
    --body-font: "Poppins", sans-serif;
    --font-bold: bold;
}

:root {
    --blue: #061a59;
    --blue-light: #0fabf6;
    --blue-dark: #6204cc;
    --red: #f70559;
    --purple: #B182E6;

    --processing: #0fabf6;
    --unfulfilled: #061a59;

    --partially: #f70559;
    --incomplete: #f70559;
    --complete: #2fb05b;
    --done: #2fb05b;
}

:root {
    
    --border: #cdd1de;
    --background: #f3f4f8;
    --mainbackground: #fff;
    --bder-rdius: 6px;
    --btn-pad:5px 10px;
    --btn-background: #6204CC;
    --sidebar-background:rgb(11, 14, 15);
}